.debug {
  color: red;
  font-size: 20px;
}

html {
  background-color: #212122;
}

.panel-heading {
  background-color: #434343;
  color: #868885;
}

.panel-block {
  background-color: #6E6B6B;
  color: white;
}